/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

#cover-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
  color: #cecfcf;
  font-family: 'Fredoka', sans-serif;

}

h2.cover-subheading {
  text-align: center;
  font-size: 3rem;
  color: #cecfcf;
  font-family: 'Fredoka', sans-serif;
}

p.cover-text {
  font-size: 1.7rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cover-card {
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}
.cover-card-block {
  opacity: 1
}


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */

.content a {
  color: #cecfcf;
  font-family: 'Fredoka', sans-serif;
  padding: 5px 10px;
  transition: transform 0.3s ease;
}
.content a:hover {
  color: #ffffff;
  transform: scale(1.2);
}

/*
 * Navbar
 */

.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.zoom-icon {
  height: 85px;
  width: auto;
  transition: transform 0.3s ease;
}

.zoom-icon:hover {
  transform: scale(1.2);
}

a.nav-item {
  text-decoration: none;
  color: #cecfcf;
  font-family: 'Fredoka', sans-serif;
  padding: 5px 10px;
}

a.nav-item:hover {
  color: #6d9393;
}

/*
 * Menu
 */

.user-icon {
  height: 85px;
  width: auto;
  transition: transform 0.3s ease;
}

.user-icon:hover {
  transform: scale(1.2);
}

.dropdown-menu {
  background-color: #2c1b0d;
}

.dropdown-item {
  background-color: #1a0f06;
  color: #e3cc9c;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #e3cc9c;
  color: #1a0f06;
}

/*
 * Home page
 */

.my-auto-two {
  margin-top: 50px;
  margin-bottom: auto;
}

.container {
  margin-right: 0px;
}

.container1 {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
  margin-left: -400px;
}

.container2 {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
  margin-top: 200px;
  margin-left: 250px;

}

.container3 {
  background-color: rgb(255 255 255 / 86%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  border-radius: 15%;
  margin-left: -400px;
}

.container4 {
  background-color: rgb(255 255 255 / 86%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  border-radius: 15%;
}

.btn-primary {
  background-color: black;
}


/*
 * Dashboard
 */

body {
  background-color: #212529 !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-gap: 20px;
}

.team-section {
  grid-column: 1;
  margin-top: 20px;
  margin-left: 20px;
  overflow: auto;
}

.welcome-message {
  grid-column: 2;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 6rem;
  color: #cecfcf;
  font-family: 'Fredoka', sans-serif;
}

.tasks-overview {
  grid-column: 2;
  margin-right: 20px;
  overflow: auto;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
}

.custom-height {
  height: 900px;
}

/*
 * Task dashboard
*/

.search-input {
  width: 100%;     
  max-width: 1000px; 
}

.search-button {
  padding: 5px 10px;          
  background-color: #1b4a1d; 
  color: rgb(255, 255, 255);              
  border: none;            
  font-size: 0.8em;        
  width: 100px;  
}
