{% extends 'base_content.html' %}
{% block content %}

    <div class="container my-auto-two">
        <div class="row">
          <div class="col-12">
            <div class="card container4">
                <form method="post" action="">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=team_form %}
                <div style="text-align: right;">
                    <button type="submit" name="select_team" class="btn btn-primary">Select Team</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    {% if team_id %}
    <div class="container my-auto-two">
        <div class="row">
          <div class="col-12">
            <div class="card container4">
                    <form method="post" action="" style="margin: auto;">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=task_form %}
                        <input type="hidden" name="team_id" value="{{ team_id }}">
                        <div style="text-align: right;">
                            <button type="submit" name="create_task" class="btn btn-primary">Save Task</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}