{% extends 'base_content.html' %}
{% block content %}
    <h1 style="text-align: center;">Create and assign a task to one of your team members</h1>

    <div style="max-width: 600px; margin: 20px auto; padding: 10px; background-color: beige; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
        <form method="post" action="">
        {% csrf_token %}
        {{ team_form.as_p}}
        <div style="text-align: right;">
            <button type="submit" name="select_team">Select Team</button> 
            </div>
        </form>
    </div>

    {% if pk %}
        <div style="max-width: 600px; margin: 20px auto; padding: 10px; background-color: beige;  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
            <form method="post" action="" style="margin: auto;">
                {% csrf_token %}
                {{ task_form.as_p}}
                <input type="hidden" name="pk" value="{{ pk }}">
                <div style="text-align: right;">
                    <button type="submit" name="create_task">Save Task</button> 
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}