{% extends 'base_content.html' %}
{% block content %}
  <!-- Welcome Message -->
  <div class="grid-item welcome-message">
    <h1>Welcome to your dashboard, {{ user.first_name }}!</h1>
  </div>
<div class="grid-container">

  <!-- Team Management Section -->
  <div class="grid-item team-section">
    <div class="card h-100">
      <div class="card-header">
        Teams
      </div>
      <div class="card-body">
        <div class="row">
          {% if user_teams%}
            {% for team in user_teams %}
              <div class="col-md-12">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ team.name }}</h5>
                    <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ team.description }}</p>
                    <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Admin: {{ team.admin }}</p>
                    </p>
                    <a href="{% url 'team_detail' pk=team.id %}" button type="button" class="btn btn-secondary"><i class="bi bi-justify-left"></i> View Details</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
              <h3>You don't have any teams yet...</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <!-- Overview Section -->
  <div class="grid-item tasks-overview">
    <div class="card h-100">
      <div class="card-header">
        Tasks Overview
      </div>
      <div class="card-body">
        <p>Here you can view and manage your tasks.</p>
        <!-- Example task -->
        <!-- task details -->
        <!-- More tasks -->
      </div>
    </div>
  </div>

</div>
{% endblock %}
