{% extends 'base_content.html' %}
{% block content %}
<div class="grid-container">

  <!-- Team Management Section -->
  <div class="grid-item team-section">
    <div class="card h-100">
      <div class="card-header">
        Teams
      </div>
      <div class="card-body">
        {% include 'team_dashboard.html' %}
      </div>
    </div>
  </div>

  <div class="grid-item welcome-message">
    <h1>Welcome to your dashboard, {{ user.first_name }}!</h1>
    <!-- Overview Section -->
    <div class="grid-item tasks-overview">
      <div class="card custom-height">
        <div class="card-header">
          Tasks Overview
        </div>
        <div class="card-body">
          <p>Here you can view and manage your tasks.</p>
          <!-- Example task -->
          <!-- task details -->
          <!-- More tasks -->
        </div>
      </div>
    </div>
  </div>

  

</div>
{% endblock %}