{% extends 'base_content.html' %}
{% block content %}
  <!-- Welcome Message -->
  <div class="grid-item welcome-message">
    <h1>Welcome to your dashboard, {{ user.first_name }}!</h1>
  </div>
<div class="grid-container">

  <!-- Team Management Section -->
  <div class="grid-item team-section">
    <div class="card h-100">
      <div class="card-header">
        Teams
      </div>
      <div class="card-body">
        <div class="row">
          {% if user_teams%}
            {% for team in user_teams %}
              <div class="col-md-12">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ team.name }}</h5>
                    <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ team.description }}</p>
                    <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Admin: {{ team.admin }}</p>
                    </p>
                    <a href="{% url 'team_detail' pk=team.id %}" button type="button" class="btn btn-secondary"><i class="bi bi-justify-left"></i> View Details</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
              <h3>You don't have any teams yet...</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <!-- Overview Section -->
  <div class="grid-item tasks-overview">
    <div class="card h-100">
      <div class="card-header">
        Tasks Overview
      </div>
      <div class="card-body">
        <p>Here you can view and manage your tasks.</p>
        {% if user_tasks %}
            <style>
              table {
                  border-collapse: collapse;
                  width: 100%;
              }
          
              th, td {
                  padding: 8px;
                  border: 1px solid #dddddd;
                  text-align: left;
                  max-width: 200px;
                  white-space: nowrap; 
                  overflow: hidden; 
                  text-overflow: ellipsis;
              }
          
              th {
                  background-color: #f2f2f2;
              }
          </style>
          <table>
            <tr>
                <th>Task Name</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Team</th>
            </tr>
            {% for task in user_tasks %}
  
              <tr>
                <td><a href="{% url 'task_description' task.id %}">{{ task.title }}</a></td>
                <td>{{ task.description }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.team_of_task }}</td>
              </tr>
            
            {% endfor %}
          </table>
         {% else %}
          <p>You have no tasks</p>
         {% endif %}  
      </div>
    </div>
  </div>

</div>
{% endblock %}
