{% extends 'base_content.html' %}
{% block content %}
  <div id="cover-image">
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-sm-12 col-md-12 col-lg-5 my-auto">
          <div class="card cover-card offset-sm-0 offset-md-0 offset-lg-0">
            <h1 class="cover-heading">Task Manager</h1>
            <p class="cover-text">A task manager application by Team Gecko</p>
            <p>
              <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary">
                Sign up
              </a>
            </p>
            <p>
              <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary">
                Log in
              </a>
            </p>
          </div>
        </div>
        <div class="col-sm-0 col-md-0 col-lg-1 my-auto"></div>
        <div class="col-sm-12 col-md-12 col-lg-6 my-auto">
          <div class="card cover-card offset-sm-0 offset-md-0 offset-lg-0">
            <h1 class="cover-heading">Description</h1>
            <p class="cover-text">Core Features</p>
            <p>
              Users can form teams, and invite team members to their team.
              Each user can create tasks, assign tasks to other team members, and set due dates.
            </p>
            <p class="cover-text">Benefits</p>
            <p>
              Easier Organisation<br>
              Improved Productivity<br>
              Enhanced Team Collaboration<br>
              Time Tracking<br>
              User Accountability<br>
              Deadline Management
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
