{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
        <div class="row h-100">
            <div class="col-sm-12 col-md-12 col-lg-6 my-auto-two">
                <div class="card container1">
                        <h1 class="cover-heading">Task Manager</h1>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 my-auto-two">
                <div class="card container2">
                    <h2 class="cover-subheading">Form Teams </h2>
                    <h2 class="cover-subheading">・・・・・</h2>
                    <h2 class="cover-subheading">Create Tasks</h2>
                    <h2 class="cover-subheading">・・・・・</h2>
                    <h2 class="cover-subheading">Invite Team Members</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}