{% extends 'base_content.html' %}
{% block content %}
<div class="container vh-100">
  <div class="row">
  
      {% if user_invites %}
        <h1 style = "color:white">Invites</h1>
        {% for invite in user_invites%}
          <div class="col-md-4">
              <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ invite.name }}</h5>
                  <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ invite.description }}</p>
                  <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Admin: {{ invite.admin }}</p>
                  <div class="row">
                    <div class="col-6 ">
                      <a href="{% url 'join_team' team=invite %}" class="btn btn-secondary btn-block"><i class="bi bi-justify-left"></i> Join Team</a>
                    </div>
                    <div class="col-6">
                      <a href="{% url 'reject_invite' team=invite %}" class="btn btn-secondary btn-block"><i class="bi bi-justify-left"></i> Reject Invite</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      {% else%}
        <h1 style = "color:white">You have no invites yet</h1>
      {% endif %}
      </div>
    </div>

</div>
{% endblock %}
