{% extends 'base_content.html' %}
{% block content %}
  <div class="container my-auto-two">
    <div class="row">
      <div class="col-12">
        <div class="card container4">
          <h5 class="card-title">Title: {{ task.title }} </h5>
          <p class="card-text">Description: {{ task.description }}</p>
          <p class="card-text">Due Date: {{ task.due_date }}</p>
          <p class="card-text">Team: {{ task.team_of_task }}</p>
          <p class="card-text">Status: {{ task.status }}</p>
          <p class="card-text">Priority: {{ task.priority }}</p>
          <a href="{% url 'task_edit' task.id %}" class="btn btn-secondary btn-block"><i class="bi bi-justify-left"></i>Edit</a>
          <a href="{% url 'task_delete' task.id %}" class="btn btn-secondary btn-block"><i class="bi bi-justify-left"></i>Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
