{% extends 'base_content.html' %}
{% block content %}
<div class="container vh-100"><!--remove vh-100 if vh > 100-->
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your task dashboard {{ user.username }}</h1>
      <div class="search-bar-container">
        <form action="{% url 'task_dashboard' %}" method="get">
            <input type="text" name="search_input" class= "search-input" placeholder=" Search for your assigned tasks by title or description..">
            <button type="submit" class="search-button">Search</button>
        </form>
      </div>
      <div class="row">
        {% if user_tasks%}
          {% for task in user_tasks %}
            <div class="col-md-4">
              <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ task.title }}</h5>
                  <p class="card-text">Due: {{ task.due_date }}</p>
                  <p class="card-text">Status: {{ task.status }}</p>
                  <a href="{% url 'task_description' pk=task.id %}" button type="button" class="btn btn-secondary"><i class="bi bi-justify-left"></i> View Details</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-12">
            <h3>You don't have any tasks yet...</h3>
          </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}