{% extends 'base_content.html' %}
{% block content %}
<div>
    <h1 style="color:white">{{ team.name }}</h1>
    <p style="color:white">Description: {{ team.description }}</p>
    <p style="color:white">Admin: {{ team.admin.username }}</p>

    <h3 style="color:white">Members</h3>
    <ul>
        {% for member in team.members.all %}
            <li>{{ member.username }}</li>
        {% endfor %}
    </ul>

    

    {% if is_admin %}
    <a href="{% url 'assign_new_admin' team.id %}">Transfer Admin Role</a>
    <a href="{% url 'invite_team_members' team.id %}">Invite Team Members</a>
    <a href="{% url 'remove_members' team.id %}">Remove Members</a>
    <form action="{% url 'delete_team' team.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete Team</button>
    </form>
    {% endif %}

    <form method="post" action="{% url 'leave_team' team.id %}">
        {% csrf_token %}
        <button type="submit">Leave Team</button>
    </form>
</div>
{% endblock %}

<!-- <h3>Tasks</h3>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }} - {{ task.status }}</li>
        {% endfor %}
    </ul> -->